# **Python Intro**

# Example

In [ ]:
print("Hello,World!")

Hello,World!

# **Python Indentation**

# Example

In [ ]:
if 9 > 3:
  print("Nine is greater than three!")

Nine is greater than three!

In [ ]:
if 9 > 3:
print("Nine is greater than three!")

IndentationError: ignored



# Example

In [ ]:
if 9 > 3:
 print("Nine is greater than three!")  
if 9 > 3:
        print("Nine is greater than three!")

Nine is greater than three!
Nine is greater than three!



# Example

Syntax Error:

In [ ]:
if 9 > 3:
 print("Nine is greater than three!")
        print("Nine is greater than three!")

IndentationError: ignored

#**Phython Comnments**



# Example

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!



# Example

In [ ]:
print("Hello, World!") #This is a comment.

Hello, World!



# Example

In [ ]:
#print("Hello, World!")
print("Go, Tigers!")

Go, Tigers!

#**Python Variables**



# Example

In [ ]:
x = 234
y = "喬萬斯"
print(x)
print(y)

234
喬萬斯



# Example

In [ ]:
x = 234
x = "喬萬斯"
print(x)

喬萬斯



# Example

In [ ]:
x = str(3)
y = int(6)
z = float(9)

print(x)
print(y)
print(z)

3
6
9.0

#**Python - Variables Names**



# Example

Legal variable names:

In [ ]:
myvar = "喬萬斯"
my_var = "喬萬斯"
_my_var = "喬萬斯"
myVar = "喬萬斯"
MYVAR = "喬萬斯"
myvar2 = "喬萬斯"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

喬萬斯
喬萬斯
喬萬斯
喬萬斯
喬萬斯
喬萬斯



# Example

Illegal variable names:

In [ ]:
2myvar = "喬萬斯"
my-var = "喬萬斯"
my var = "喬萬斯"

SyntaxError: ignored

#**Python Variables - Assign Multiple Values**



# Example

In [ ]:
x, y, z = "Anger", "Chaos", "Rage"

print(x)
print(y)
print(z)

Anger
Chaos
Rage



# Example

In [ ]:
x = y = z = "Disaster"

print(x)
print(y)
print(z)

Disaster
Disaster
Disaster



# Example

Unpack a list:

In [ ]:
emotion = ["ANGER", "FEAR", "SADNESS"]
x, y, z = emotion

print(x)
print(y)
print(z)

ANGER
FEAR
SADNESS

#**Python - Output Variables**



# Example

In [ ]:
x = "My Journal in Python"
print(x)

My Journal in Python



# Example

In [ ]:
x = "My Journal"
y = "in"
z = "Python"
print(x, y, z)

My Journal in Python



# Example

In [ ]:
x = "My Journal "
y = "in "
z = "Python"
print(x + y + z)

My Journal in Python



# Example

In [ ]:
x = 3
y = 69
print(x + y)

72



# Example

In [ ]:
x = 234
y = "喬萬斯"
print(x + y)

TypeError: ignored

# Example

In [ ]:
x = 234
y = "喬萬斯"
print(x, y)

234 喬萬斯

#**Python - Global Variables​**

#Example

Create a variable outside of a function, and use it inside the function

In [ ]:
x = "Python"

def myfunc():
  print("My Journal in " + x)

myfunc()

My Journal in Python

#Example
Create a variable inside a function, with the same name as the global variable

In [ ]:
x = "Python"

def myfunc():
  x = "Teacher"
  print("My Great " + x)

myfunc()

print("My Journal in " + x)

My Great Teacher
My Journal in Python

#Example
If you use the global keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
  global x
  x = "Python"

myfunc()

print("My Journal in " + x)

My Journal in Python

#Example
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
x = "Teacher"

def myfunc():
  global x
  x = "Python"

myfunc()

print("My Journal in " + x)

My Journal in Python

#Example
Print the data type of the variable x:

In [ ]:
 x = 5
print(type(x))

<class 'int'>

#**Python Numbers**

# Example

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# Example

In [ ]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#Example
Integers:

In [ ]:
x = 6
y = 36912151821
z = -135792467

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#Example
Floats:

In [ ]:
x = 3.19
y = 6.13
z = -23.69

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#Example
Floats:

In [ ]:
x = 23e4
y = 46E7
z = -98.3e290

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#Example
Complex:

In [ ]:
x = 2+7j
y = 9j
z = -3j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#Example
Convert from one type to another:

In [ ]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#Example
Import the random module, and display a random number between 1 and 9:

In [ ]:
import random

print(random.randrange(1, 10))

1

#**Python Casting​**

#Example
Integers:

In [ ]:
x = int(3)
y = int(6.9)
z = int("9")
print(x)
print(y)
print(z)

3
6
9

#Example
Floats:

In [ ]:
x = float(3)
y = float(6.8)
z = float("9")
w = float("12.7")
print(x)
print(y)
print(z)
print(w)

3.0
6.8
9.0
12.7

#Example
Strings:

In [ ]:
x = str("k3")
y = str(6)
z = str(9.0)
print(x)
print(y)
print(z)

k3
6
9.0

#**Python Strings**

#Example

In [ ]:
print("喬萬斯")
print('喬萬斯')

喬萬斯
喬萬斯

#Example

In [ ]:
a = "喬萬斯"
print(a)

喬萬斯

#Example
You can use three double quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#Example

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#Example
Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a = "Hello, World!"
print(a[1])

e

#Example
Loop through the letters in the word "喬萬斯":

In [ ]:
for x in "喬萬斯":
  print(x)

喬
萬
斯

#Example
The len() function returns the length of a string:

In [ ]:
a = "Hello, World!"
print(len(a))

13

#Example
Check if "Python!" is present in the following text:

In [ ]:
txt = "My Great Teacher in Python!"
print("Python!" in txt)

True

#Example
Print only if "free" is present:

In [ ]:
txt = "My Great Teacher in Python!"
if "Python!" in txt:
  print("Yes, 'Python!' is present.")

Yes, 'Python!' is present.

#Example
Check if "Bad" is NOT present in the following text:

In [ ]:
txt = "My Great Teacher in Python!"
print("Bad" not in txt)

True

#Example
print only if "Bad" is NOT present:

In [ ]:
txt = "My Great Teacher in Python!"
if "Bad" not in txt:
  print("No, 'Bad' is NOT present.")

No, 'Bad' is NOT present.

#**Python - Slicing Strings**

#Example
Get the characters from position 2 to position 5 (not included):

In [ ]:
b = "My Great Teacher in Python!"
print(b[2:5])

 Gr

#Example
Get the characters from the start to position 16 (not included):

In [ ]:
b = "My Great Teacher in Python!"
print(b[:16])

My Great Teacher

#Example
Get the characters from position 2, and all the way to the end:

In [ ]:
b = "My Great Teacher in Python!"
print(b[2:])

 Great Teacher in Python!

#Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [ ]:
b = "My Great Teacher in Python!"
print(b[-5:-2])

tho

#**Python - Modify Strings**

#Example
The upper() method returns the string in upper case:

In [ ]:
a = "My Great Teacher in Python!"
print(a.upper())

MY GREAT TEACHER IN PYTHON!

#Example
The lower() method returns the string in lower case:

In [ ]:
a = "My Great Teacher in Python!"
print(a.lower())

my great teacher in python!

#Example
The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " My Great Teacher in Python! "
print(a.strip())

My Great Teacher in Python!

#Example
The replace() method replaces a string with another string:

In [ ]:
a = "My Great Teacher in Python!"
print(a.replace("M", "G"))

Gy Great Teacher in Python!

#Example
The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "My Great Teacher, in Python!"
b = a.split(",")
print(b)

['My Great Teacher', ' in Python!']

#**Python - String Concatenation**

#Example
Merge variable a with variable b into variable c:

In [ ]:
a = "4110E234"
b = "喬萬斯"
c = a + b
print(c)

4110E234喬萬斯

#Example
To add a space between them, add a " ":

In [ ]:
a = "4110E234"
b = "喬萬斯"
c = a + " " + b
print(c)

4110E234 喬萬斯

#**Python - Format - Strings**

#Example

In [ ]:
age = 18
txt = "My name is Joaquin, I am " + age
print(txt)

TypeError: ignored

#Example
Use the format() method to insert numbers into strings:

In [ ]:
age = 18
txt = "My name is Joaquin, and I am {}"
print(txt.format(age))

My name is Joaquin, and I am 18

#Example

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

#Example

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#**Python - Escape Characters**

#Example
You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Filipino" from the Philippines."

SyntaxError: ignored

#Example
The escape character allows you to use double quotes when you normally would not be allowed:

In [ ]:
txt = "We are the so-called \"Filipino\" from Philippines."
print(txt)

We are the so-called "Filipino" from Philippines.

#**Python Booleans**

#Example

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

#Example
Print a message based on whether the condition is True or False:

In [ ]:
a = 793
b = 68

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#Example
Evaluate a string and a number:

In [ ]:
print(bool("喬萬斯"))
print(bool(234))

True
True

#Example
Evaluate two variables:

In [ ]:
x = "喬萬斯"
y = 234

print(bool(x))
print(bool(y))

True
True

#Example
The following will return True:

In [ ]:
print(bool("ZED"))
print(bool(369))
print(bool(["anger", "fear", "sadness"]))

True
True
True

#Example
The following will return False:

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

#Example

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

#Example
Print the answer of a function:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

#Example
Print "YES!" if the function returns True, otherwise print "NO!":

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

#Example
Check if an object is an integer or not:

In [ ]:
x = 937
print(isinstance(x, int))

True

#Example

In [ ]:
print(9734 + 7328)

17062

#**Python Lists**

# Example
Create a List:

In [ ]:
thislist = ["anger", "fear", "sadness"]
print(thislist)

['anger', 'fear', 'sadness']

#Example
Lists allow duplicate values:

In [ ]:
thislist = ["anger", "fear", "sadness", "anger", "sadness"]

print(thislist)

['anger', 'fear', 'sadness', 'anger', 'sadness']

#Example
Print the number of items in the list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
print(len(thislist))

3

#Example
String, int and boolean data types:

In [ ]:
list1 = ["anger", "fear", "sadness"]
list2 = [3, 6, 7, 9, 12]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['anger', 'fear', 'sadness']
[3, 6, 7, 9, 12]
[True, False, False]

#Example
A list with strings, integers and boolean values:

In [ ]:
list1 = ["zyx", 34, True,  68, "喬萬斯"]

print(list1)

['zyx', 34, True, 68, '喬萬斯']

#Example
What is the data type of a list?

In [ ]:
mylist = ["anger", "fear", "sadness"]

print(type(mylist))

<class 'list'>

#Example
Using the list() constructor to make a List:

In [ ]:
thislist = list(("anger", "fear", "sadness"))
print(thislist)

['anger', 'fear', 'sadness']

#**Python - Access List Items**

#Example
Print the second item of the list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
print(thislist[1])

fear

#Example
Print the last item of the list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
print(thislist[-1])

sadness

#Example
Return the third, fourth, and fifth item:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust", "trust"]
print(thislist[2:5])

['sadness', 'hapiness', 'surprise']

#Example
This example returns the items from the beginning to, but NOT including, "surprise":

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust", "trust"]
print(thislist[:4])

['anger', 'fear', 'sadness', 'happiness']

#Example
This example returns the items from "sadness" to the end:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust", "trust"]
print(thislist[2:])

['sadness', 'happiness', 'surprise', 'disgust', 'trust']

#Example
This example returns the items from "happiness" (-4) to, but NOT including "trust" (-1):

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust", "trust"]
print(thislist[-4:-1])

['happiness', 'surprise', 'disgust']

#Example
Check if "apple" is present in the list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
if "anger" in thislist:
  print("Yes, 'anger' is in the emotion list")

Yes, 'anger' is in the emotion list

#**Python - Change List Items**

#Example
Change the second item:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist[1] = "happiness"

print(thislist)

['anger', 'happiness', 'sadness']

#Example
Change the values "fear" and "sadness" with the values "trust" and "anticipation":

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist[1:3] = ["trust", "anticipation"]

print(thislist)

['anger', 'trust', 'anticipation', 'happiness', 'surprise', 'disgust']

#Example
Change the second value by replacing it with two new values:

In [ ]:
thislist = ["anger", "fear", "sadness"]

thislist[1:2] = ["trust", "anticipation"]

print(thislist)

['anger', 'trust', 'anticipation', 'sadness']

#Example
Change the second and third value by replacing it with one value:

In [ ]:
thislist = ["anger", "fear", "sadness"]

thislist[1:3] = ["trust"]

print(thislist)

['anger', 'trust']

#Example
Insert "trust" as the third item:

In [ ]:
thislist = ["anger", "fear", "sadness"]

thislist.insert(2, "trust")

print(thislist)

['anger', 'fear', 'trust', 'sadness']

#**Python - Add List Items**

#Example
Using the append() method to append an item:

In [ ]:
thislist = ["anger", "fear", "sadness"]

thislist.append("surprise")

print(thislist)

['anger', 'fear', 'sadness', 'surprise']

#Example
Insert an item as the second position:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist.insert(1, "surprise")
print(thislist)

['anger', 'surprise', 'fear', 'sadness']

#Example
Add the elements of emottion
 to thislist:

In [ ]:
thislist = ["anger", "fear", "sadness"]
emotion = ["happiness", "surprise", "disgust"]

thislist.extend(emotion)

print(thislist)

['anger', 'fear', 'sadness', 'happiness', 'surprise', 'disgust']

#Example
Add elements of a tuple to a list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thistuple = ("happiness", "surprise")

thislist.extend(thistuple)

print(thislist)

['anger', 'fear', 'sadness', 'happiness', 'surprise']

#**Python - Remove List Items**

#Example
Remove "banana":

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist.remove("fear")
print(thislist)

['anger', 'sadness']

#Example
Remove the second item:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist.pop(1)
print(thislist)

['anger', 'sadness']

#Example
Remove the last item:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist.pop()
print(thislist)

['anger', 'fear']

#Example
Remove the first item:

In [ ]:
thislist = ["anger", "fear", "sadness"]
del thislist[0]
print(thislist)

['fear', 'sadness']

#Example
Delete the entire list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
del thislist
print(thislist)

NameError: ignored

#Example
Clear the list content:

In [ ]:
thislist = ["anger", "fear", "sadness"]
thislist.clear()
print(thislist)

[]

#**Python - Loop Lists**

#Loop Through a List

#Example
Print all items in the list, one by one:

In [ ]:
thislist = ["anger", "fear", "sadness"]
for x in thislist:
  print(x)

anger
fear
sadness

#Loop Through the Index Numbers

#Example
Print all items by referring to their index number:

In [ ]:
thislist = ["anger", "fear", "sadness"]
for i in range(len(thislist)):
  print(thislist[i])

anger
fear
sadness

#Using a While Loop

#Example
Print all items, using a while loop to go through all the index numbers

In [ ]:
thislist = ["anger", "fear", "sadness"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

anger
fear
sadness

#Looping Using List Comprehension

#Example
A short hand for loop that will print all items in a list:

In [ ]:
thislist = ["anger", "fear", "sadness"]
[print(x) for x in thislist]

anger
fear
sadness

[None, None, None]

#**Python - List Comprehension**

#List Comprehension

#Example

In [ ]:
emotiions = ["anger", "fear", "sadness", "happiness", "surprise"]
newlist = []

for x in emotiions:
  if "a" in x:
    newlist.append(x)

print(newlist)

['anger', 'fear', 'sadness', 'happiness']

#Example

In [ ]:
emotiions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]
newlist = [x for x in emotiions if "a" in x]

print(newlist)

['anger', 'fear', 'sadness', 'happiness']

#Condition

# Example
Only accept items that are not "anger":

In [ ]:
emotiions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

newlist = [x for x in emotiions if x != "anger"]

print(newlist)

['fear', 'sadness', 'happiness', 'surprise', 'disgust']

#Example
With no if statement:

In [ ]:
emotiions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

newlist = [x for x in emotiions]

print(newlist)

#Iterable

#Example
You can use the range() function to create an iterable:

In [ ]:
newlist = [x for x in range(19)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

#Example
Accept only numbers lower than 5:

In [ ]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

#Expression

#Example
Set the values in the new list to upper case:

In [ ]:
emotions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

newlist = [x.upper() for x in emotions]

print(newlist)

['ANGER', 'FEAR', 'SADNESS', 'HAPPINESS', 'SURPRISE', 'DISGUST']

#Example
Set all values in the new list to 'hello':

In [ ]:
emotions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

newlist = ['hello' for x in emotions]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello', 'hello']

#Example
Return "orange" instead of "banana":

In [ ]:
emotions = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

newlist = [x if x != "fear" else "trust" for x in emotions]

print(newlist)

['anger', 'trust', 'sadness', 'happiness', 'surprise', 'disgust']

#**Python - Sort Lists**

#Sort List Alphanumerically

#Example
Sort the list alphabetically:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist.sort()

print(thislist)

['anger', 'disgust', 'fear', 'happiness', 'sadness', 'surprise']

#Example
Sort the list numerically:

In [ ]:
thislist = [199, 547, 643, 422, 230]

thislist.sort()

print(thislist)

[199, 230, 422, 547, 643]

#Sort Descending

#Example
Sort the list descending:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist.sort(reverse = True)

print(thislist)

['surprise', 'sadness', 'happiness', 'fear', 'disgust', 'anger']

#Example
Sort the list descending:

In [ ]:
thislist = [199, 547, 643, 422, 230]

thislist.sort(reverse = True)

print(thislist)

[643, 547, 422, 230, 199]

#Customize Sort Function

#Example
Sort the list based on how close the number is to 50:

In [ ]:
def myfunc(n):
  return abs(n - 199)

thislist = [199, 547, 643, 422, 230]

thislist.sort(key = myfunc)

print(thislist)

[199, 230, 422, 547, 643]

#Case Insensitive Sort

#Example
Case sensitive sorting can give an unexpected result:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist.sort()

print(thislist)

['anger', 'disgust', 'fear', 'happiness', 'sadness', 'surprise']

#Example
Perform a case-insensitive sort of the list:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist.sort(key = str.lower)

print(thislist)

['anger', 'disgust', 'fear', 'happiness', 'sadness', 'surprise']

# Reverse Order

#Example
Reverse the order of the list items:

In [ ]:
thislist = ["anger", "fear", "sadness", "happiness", "surprise", "disgust"]

thislist.reverse()

print(thislist)

['disgust', 'surprise', 'happiness', 'sadness', 'fear', 'anger']

#**Python - Copy Lists**

#Copy a List

#Example
Make a copy of a list with the copy() method:

In [ ]:
thislist = ["anger", "fear", "sadness"]
mylist = thislist.copy()
print(mylist)

['anger', 'fear', 'sadness']

#Example
Make a copy of a list with the list() method:

In [ ]:
thislist = ["anger", "fear", "sadness"]
mylist = list(thislist)
print(mylist)

['anger', 'fear', 'sadness']

#**Python - Join Lists**

#Join Two Lists

#Example
Join two list:

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

#Example
Append list2 into list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

#Example
Use the extend() method to add list2 at the end of list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#**Python Tuples**

#Tuple

#Example
Create a Tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
print(thistuple)

('anger', 'fear', 'sadness')

#Allow Duplicates

#Example
Tuples allow duplicate values:

In [ ]:
thistuple = ("anger", "fear", "sadness", "anger", "sadness")
print(thistuple)

('anger', 'fear', 'sadness', 'anger', 'sadness')

#Tuple Length

#Example
Print the number of items in the tuple:

In [ ]:
thistuple = tuple(("anger", "fear", "sadness"))
print(len(thistuple))

3

#Create Tuple With One Item

#Example
One item tuple, remember the comma:

In [ ]:
thistuple = ("anger",)
print(type(thistuple))

#NOT a tuple
thistuple = ("anger")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

#**Tuple Items - Data Types**

#Example
String, int and boolean data types:

In [ ]:
tuple1 = ("anger", "fear", "sadness")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('anger', 'fear', 'sadness')
(1, 5, 7, 9, 3)
(True, False, False)

#Example
A tuple with strings, integers and boolean values:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

#**type()**

#Example
Print the number of items in the tuple:

In [ ]:
thistuple = tuple(("anger", "fear", "sadness"))
print(len(thistuple))

3

#**The tuple() Constructor**

#Example
Using the tuple() method to make a tuple:

In [ ]:
thistuple = tuple(("anger", "fear", "sadness"))
print(thistuple)

('anger', 'fear', 'sadness')

#**Python - Access Tuple Items**

#**Access Tuple Items**

#Example
Print the second item in the tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
print(thistuple[1])

fear

#**Negative Indexing**

#Example
Print the last item of the tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
print(thistuple[-1])

sadness

#**Range of Indexes**

#Example
Return the third, fourth, and fifth item:

In [ ]:
thistuple = ("anger", "fear", "sadness", "happiness", "surprise", "disgust")
print(thistuple[2:5])

('sadness', 'happiness', 'surprise')

#Example
This example returns the items from the beginning to, but NOT included, "surprise":

In [ ]:
thistuple = ("anger", "fear", "sadness", "happiness", "surprise", "disgust")

print(thistuple[:4])

('anger', 'fear', 'sadness', 'happiness')

#Example
This example returns the items from "sadness" and to the end:

In [ ]:
thistuple = ("anger", "fear", "sadness", "happiness", "surprise", "disgust")

print(thistuple[2:])

('sadness', 'happiness', 'surprise', 'disgust')

#**Range of Negative Indexes**

#Example
This example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
thistuple = ("anger", "fear", "sadness", "surprise", "disgust")
print(thistuple[-4:-1])

('sadness', 'happiness', 'surprise')

#**Check if Item Exists**

#Example
Check if "anger" is present in the tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
if "anger" in thistuple:
  print("Yes, 'anger' is in the fruits tuple")

Yes, 'anger' is in the fruits tuple

#**Python - Update Tuples**

#Change Tuple Values

#Example
Convert the tuple into a list to be able to change it:

In [ ]:
x = ("anger", "fear", "sadness")
y = list(x)
y[1] = "sadness"
x = tuple(y)

print(x)

('anger', 'sadness', 'sadness')

#**Add Items**

#Example
Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
y = list(thistuple)
y.append("sadness")
thistuple = tuple(y)

print(thistuple)

('anger', 'fear', 'sadness', 'sadness')

#Example
Create a new tuple with the value "orange", and add that tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
y = ("sadness",)
thistuple += y

print(thistuple)

('anger', 'fear', 'sadness', 'sadness')

#**Remove Items**

#Example
Convert the tuple into a list, remove "anger", and convert it back into a tuple:

In [ ]:
thistuple = ("anger", "fear", "sadness")
y = list(thistuple)
y.remove("anger")
thistuple = tuple(y)

print(thistuple)

('fear', 'sadness')

#Example
The del keyword can delete the tuple completely:

In [ ]:
thistuple = ("anger", "fear", "sadness")
del thistuple
print(thistuple)

NameError: ignored

#**Python - Unpack Tuples**

#Unpacking a Tuple

In [ ]:
fruits = ("anger", "fear", "sadness")

print(fruits)

('anger', 'fear', 'sadness')

#Example
Unpacking a tuple:

In [ ]:
emotions = ("anger", "fear", "sadness")

(green, yellow, red) = emotions

print(green)
print(yellow)
print(red)

anger
fear
sadness

#**Using Asterisk**

#Example
Assign the rest of the values as a list called "red":

In [ ]:
emotions = ("anger", "fear", "sadness", "happiness", "surprise", "disgust")

(green, yellow, *red) = emotions

print(green)
print(yellow)
print(red)

anger
fear
['sadness', 'happiness', 'surprise', 'disgust']

#Example
Add a list of values the "tropic" variable:

In [ ]:
emotions = ("anger", "fear", "sadness", "happiness", "surprise", "disgust")

(green, *tropic, red) = emotions

print(green)
print(tropic)
print(red)

anger
['fear', 'sadness', 'happiness', 'surprise']
disgust

#**Python - Loop Tuples**

#Loop Through a Tuple

#Example
Iterate through the items and print the values:

In [ ]:
thistuple = ("anger", "fear", "sadness")
for x in thistuple:
  print(x)

anger
fear
sadness

#**Loop Through the Index Numbers**

#Example
Print all items by referring to their index number:

In [ ]:
thistuple = ("anger", "fear", "sadness")
for i in range(len(thistuple)):
  print(thistuple[i])

anger
fear
sadness

#**Using a While Loop**

#Example
Print all items, using a while loop to go through all the index numbers:

In [ ]:
thistuple = ("anger", "fear", "sadness")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

anger
fear
sadness

#**Python - Join Tuples**

#**Join Two Tuples**

#Example
Join two tuples:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#**Multiply Tuples**

#Example
Multiply the fruits tuple by 2:

In [ ]:
emotions = ("anger", "fear", "sadness")
mytuple = emotions * 2

print(mytuple)

('anger', 'fear', 'sadness', 'anger', 'fear', 'sadness')

#**Python Sets**

#**Set**

#Example
Create a Set:

In [ ]:
thisset = {"anger", "fear", "sadness"}
print(thisset)

{'anger', 'sadness', 'fear'}

#**Duplicates Not Allowed**

#Example
Duplicate values will be ignored:

In [ ]:
thisset = {"anger", "fear", "sadness"}

print(thisset)

{'anger', 'sadness', 'fear'}

#**Get the Length of a Set**

#Example
Get the number of items in a set:

In [ ]:
thisset = {"anger", "fear", "sadness"}

print(len(thisset))

3

#**Set Items - Data Types**

#Example
String, int and boolean data types:

In [ ]:
set1 = {"anger", "fear", "sadness"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'anger', 'sadness', 'fear'}
{1, 3, 5, 7, 9}
{False, True}

#Example
A set with strings, integers and boolean values:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 40, 'male', 'abc'}

#**type()**

#Example
What is the data type of a set?

In [ ]:
myset = {"anger", "fear", "sadness"}

print(type(myset))

#**The set() Constructor**

#Example
Using the set() constructor to make a set:

In [ ]:
thisset = set(("anger", "fear", "sadness"))
print(thisset)

{'anger', 'sadness', 'fear'}

#**Python - Access Set Items**

#**Access Items**

#Example
Loop through the set, and print the values:

In [ ]:
thisset = {"anger", "fear", "sadness"}

for x in thisset:
  print(x)

anger
sadness
fear

#Example
Check if "fear" is present in the set:

In [ ]:
thisset = {"anger", "fear", "sadness"}

print("fear" in thisset)

True

#**Python - Add Set Items**

#**Add Items**

#Example
Add an item to a set, using the add() method:

In [ ]:
thisset = {"anger", "fear", "sadness"}

thisset.add("happiness")

print(thisset)

{'anger', 'sadness', 'fear', 'happiness'}

#**Add Sets**

#Example
Add elements from tropical into thisset:

In [ ]:
thisset = {"anger", "fear", "sadness"}
emtions = {"happiness", "surprise", "disgust"}

thisset.update(emotions)

print(thisset)

{'sadness', 'anger', 'disgust', 'surprise', 'fear', 'happiness'}

#**Add Any Iterable**

#Example
Add elements of a list to at set:

In [ ]:
thisset = {"anger", "fear", "sadness"}
mylist = {"happiness", "surprise", "disgust"}

thisset.update(mylist)

print(thisset)

{'sadness', 'anger', 'disgust', 'surprise', 'fear', 'happiness'}

#**Python - Remove Set Items**

#Remove Item

#Example
Remove "fear" by using the remove() method:

In [ ]:
thisset = {"anger", "fear", "sadness"}

thisset.remove("fear")

print(thisset)

{'anger', 'sadness'}

#Example
Remove "banana" by using the discard() method:

In [23]:
thisset = {"anger", "fear", "sadness"}

thisset.discard("fear")

print(thisset)

{'anger', 'sadness'}

#Example
Remove the last item by using the pop() method:

In [24]:
thisset = {"anger", "fear", "sadness"}

x = thisset.pop()

print(x)

print(thisset)

anger
{'sadness', 'fear'}

#Example
The clear() method empties the set:

In [32]:
thisset = {"anger", "fear", "sadness"}

thisset.clear()

print(thisset)

set()

#Example
The del keyword will delete the set completely:

In [34]:
thisset = {"anger", "fear", "sadness"}

del thisset

print(thisset)

NameError: ignored

#**Python - Loop Sets**

#**Loop Items**

#Example
Loop through the set, and print the values:

In [35]:
thisset = {"anger", "fear", "sadness"}

for x in thisset:
  print(x)

anger
sadness
fear

#**Python - Join Sets**

#**Join Two Sets**

#Example
The union() method returns a new set with all items from both sets:

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

#Example
The update() method inserts the items in set2 into set1:

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

#**Keep ONLY the Duplicates**

#Example
Keep the items that exist in both set x, and set y:

In [39]:
x = {"anger", "fear", "sadness"}
y = {"sadness", "guilt", "pain"}

x.intersection_update(y)

print(x)

{'sadness'}

#Example
Return a set that contains the items that exist in both set x, and set y:

In [40]:
x = {"anger", "fear", "sadness"}
y = {"sadness", "guilt", "pain"}

z = x.intersection(y)

print(z)

{'sadness'}

#**Keep All, But NOT the Duplicates**

#Example
Keep the items that are not present in both sets:

In [41]:
x = {"anger", "fear", "sadness"}
y = {"sadness", "guilt", "pain"}

x.symmetric_difference_update(y)

print(x)

{'fear', 'guilt', 'anger', 'pain'}

#Example
Return a set that contains all items from both sets, except items that are present in both:

In [42]:
x = {"anger", "fear", "sadness"}
y = {"sadness", "guilt", "pain"}

z = x.symmetric_difference(y)

print(z)

{'fear', 'guilt', 'anger', 'pain'}

#**Python Dictionaries**

#**Dictionary**

#Example
Create and print a dictionary:

In [43]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#**Dictionary Items**

#Example
Print the "brand" value of the dictionary:

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

#**Duplicates Not Allowed**

#Example
Duplicate values will overwrite existing values:

In [45]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#**Dictionary Length**

#Example
Print the number of items in the dictionary:

In [46]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

#**Dictionary Items - Data Types**

#Example
String, int, boolean, and list data types:

In [47]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

#**type()**

#Example
Print the data type of a dictionary:

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

#**The dict() Constructor**

#Example
Using the dict() method to make a dictionary:

In [49]:
thisdict = dict(name = "John", age = 36, country = "Norway")

print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#**Python - Access Dictionary Items**

#**Accessing Items**

#Example
Get the value of the "model" key:

In [50]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

#Example
Get the value of the "model" key:

In [51]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

#**Get Keys**

#Example
Get a list of the keys:

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

#Example
Add a new item to the original dictionary, and see that the keys list gets updated as well:

In [53]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

#**Get Values**

#Example
Get a list of the values:

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

#Example
Make a change in the original dictionary, and see that the values list gets updated as well:

In [55]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

#Example
Add a new item to the original dictionary, and see that the values list gets updated as well:

In [56]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

#**Get Items**

#Example
Get a list of the key:value pairs

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

#Example
Make a change in the original dictionary, and see that the items list gets updated as well:

In [58]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

#Example
Add a new item to the original dictionary, and see that the items list gets updated as well:

In [59]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

#**Check if Key Exists**

#Example
Check if "model" is present in the dictionary:

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#**Python - Change Dictionary Items**

#**Change Values**

#Example
Change the "year" to 2018:

In [61]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

#**Update Dictionary**

#Example
Update the "year" of the car by using the update() method:

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#**Python - Add Dictionary Items**

#**Adding Items**

#Example

In [63]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#**Update Dictionary**

#Example
Add a color item to the dictionary by using the update() method:

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#**Python - Remove Dictionary Items**

#**Removing Items**

#Example
The pop() method removes the item with the specified key name:

In [65]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

#Example
The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [66]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

#Example
The del keyword removes the item with the specified key name:

In [67]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

#Example
The del keyword can also delete the dictionary completely:

In [68]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: ignored

#Example
The clear() method empties the dictionary:

In [69]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

#**Python - Loop Dictionaries**

#**Loop Through a Dictionary**

#Example
Print all key names in the dictionary, one by one:

In [70]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

#Example
Print all values in the dictionary, one by one:

In [71]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

#Example
You can also use the values() method to return values of a dictionary:

In [72]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

#Example
You can use the keys() method to return the keys of a dictionary:

In [73]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

#Example
Loop through both keys and values, by using the items() method:

In [74]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

#**Python - Copy Dictionaries**

#**Copy a Dictionary**

#Example
Make a copy of a dictionary with the copy() method:

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#Example
Make a copy of a dictionary with the dict() function:

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#**Python - Nested Dictionaries**

#**Nested Dictionaries**

#Example
Create a dictionary that contain three dictionaries:

In [77]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

#Example
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [78]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}