# 1019 Python Learning 4110E234

# Python Conditions and If statements

If statement:

In [1]:
a = 89
b = 169

if b > a:
  print("b is greater than a")

b is greater than a

# Indentation

If statement, without indentation (will raise an error):

In [2]:
a = 89
b = 169
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

# Elif

In [3]:
a = 69
b = 69
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else

In [4]:
a = 169
b = 89
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [5]:
a = 169
b = 89
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Short Hand If

One line if statement:

In [6]:
a = 169
b = 89

if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else

One line if else statement:

In [7]:
a = 9
b = 371

print("A") if a > b else print("B")

B

One line if else statement, with 3 conditions:

In [8]:
a = 371
b = 371

print("A") if a > b else print("=") if a == b else print("B")

=

# And

Test if a is greater than b, AND if c is greater than a:

In [9]:
a = 390
b = 69
c = 750
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or

Test if a is greater than b, OR if a is greater than c:

In [10]:
a = 390
b = 69
c = 750
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested If

In [11]:
x = 61

if x > 30:
  print("Above thirty,")
  if x > 50:
    print("and also above 50!")
  else:
    print("but not above 50.")

Above thirty,
and also above 50!

# The pass Statement

In [13]:
a = 89
b = 169

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

# Python For Loops

Print each fruit in a fruit list:

In [14]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  print(x)

james
kenneth
raive

# Looping Through a String

Loop through the letters in the word "angelle":

In [15]:
for x in "angelle":
  print(x)

a
n
g
e
l
l
e

# The break Statement

Exit the loop when x is "kenneth":

In [16]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  print(x) 
  if x == "kenneth":
    break

james
kenneth

Exit the loop when x is "kenneth", but this time the break comes before the print:

In [17]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  if x == "kenneth":
    break
  print(x)

james

# The continue Statement

 Do not print kenneth:

In [18]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  if x == "kenneth":
    continue
  print(x)

james
raive

# The range() Function

Using the range() function:

In [19]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

Using the start parameter:

In [20]:
for x in range(3, 9):
  print(x)

3
4
5
6
7
8

Increment the sequence with 3 (default is 1):

In [21]:
for x in range(6, 90, 3):
  print(x)

6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87

# Else in For Loop

Print all numbers from 0 to 8, and print a message when the loop has ended:

In [22]:
for x in range(9):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
Finally finished!

Break the loop when x is 6, and see what happens with the else block:

In [23]:
for x in range(9):
  if x == 6: break
  print(x)
else:
  print("Finally finished!")

#If the loop breaks, the else block is not executed.

0
1
2
3
4
5

# Nested Loops

 Print each adjective for every classmates:

In [24]:
adj = ["smart", "tall", "funny"]
classmates = ["james", "kenneth", "raive"]

for x in adj:
  for y in classmates:
    print(x, y)

smart james
smart kenneth
smart raive
tall james
tall kenneth
tall raive
funny james
funny kenneth
funny raive

# The pass Statement

In [25]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement

# Python While Loops

The while Loop

Print i as long as i is less than 9:

In [26]:
i = 1
while i < 9:
  print(i)
  i += 1

1
2
3
4
5
6
7
8

# The break Statement

Exit the loop when i is 6:

In [27]:
i = 1
while i < 9:
  print(i)
  if (i == 6):
    break
  i += 1

1
2
3
4
5
6

# The continue Statement

 Exit the loop when i is 6:

In [28]:
i = 1
while i < 9:
  print(i)
  if (i == 6):
    break
  i += 1

1
2
3
4
5
6

# The else Statement

Print a message once the condition is false:

In [29]:
i = 1
while i < 9:
  print(i)
  i += 1
else:
  print("i is no longer less than 9")

1
2
3
4
5
6
7
8
i is no longer less than 9