# 1019 4110E234

Python For Loops

Exercise 1 : Loop through the items in the fruits list.

In [2]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  print(x)

james
kenneth
raive

Exercise 2 : In the loop, when the item value is "kenneth", jump directly to the next item.

In [9]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  if x == "kenneth":
    continue
  print(x)

james
raive

Exercise 3 : Use the range function to loop through a code set 9 times.

In [10]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

Exercise 4 : Exit the loop when x is "kenneth".

In [11]:
classmates = ["james", "kenneth", "raive"]
for x in classmates:
  print(x) 
  if x == "kenneth":
    break
    print(X)

james
kenneth